<h3>About</h3>
<p>mySchool App is a Management System that helps you to capture, organise and secure your church records in a centralized and trusted database.</p>
<p>Version 1.0.0</p>
<a href="https://twitter.com/gmaheri" target="_blank">© G. Maheri</a>
