<div class="jumbotron text-center">
  <h3 class="display-5">{{title}}</h3>
  <p class="lead">Little Barn Kindergatten</p>
  <a href="/user/login" class="href btn btn-info btn-lg bm-2">Login</a></br>
  <p>Don't have an Account?<a href="/user/register"> Sign Up.</a></p>
</div>
