<div class="card card-body">
  <div class="container">
              <form class="form-horizontal" role="form">
                  <h2>Add Student</h2>
                  <div class="form-group">
                      <label for="firstName" class="col-sm-3 control-label">First Name*</label>
                      <div class="col-sm-9">
                          <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName" class="col-sm-3 control-label">Last Name*</label>
                      <div class="col-sm-9">
                          <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="admnNo" class="col-sm-3 control-label">Admission Number*</label>
                      <div class="col-sm-9">
                          <input type="text" id="admnNo" placeholder="Admission Number" class="form-control" name= "admnNo" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="class" class="col-sm-3 control-label">Class*</label>
                      <div class="col-sm-9">
                          <input type="text" id="class" placeholder="Enter class & stream number" class="form-control" autofocus required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                      <div class="col-sm-9">
                          <input type="date" id="birthDate" class="form-control" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="admnDate" class="col-sm-3 control-label">Date Of Admission*</label>
                      <div class="col-sm-9">
                          <input type="date" id="admnDate" class="form-control" required>
                      </div>
                  </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3">Gender*</label>
                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" id="femaleRadio" value="Female"> Female
                                  </label>
                              </div>
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" id="maleRadio" value="Male"> Male
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <h2>Parent/Guardian Details</h2>
                   <div class="form-group">
                      <label for="parentName" class="col-sm-3 control-label">Full Name*</label>
                      <div class="col-sm-9">
                          <input type="text" id="parentName" placeholder="Full Name" class="form-control" autofocus required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
                      <div class="col-sm-9">
                          <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control" required>
                      </div>
                  </div>
                   <div class="form-group">
                      <label for="AltphoneNumber" class="col-sm-3 control-label">Alternative Phone number*</label>
                      <div class="col-sm-9">
                          <input type="phoneNumber" id="AltphoneNumber" placeholder=" Alternative Phone number" class="form-control" required>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" name= "email" required>
                    </div>
                </div>
                 <div class="form-group">
                      <label for="address" class="col-sm-3 control-label">Physical Address*</label>
                      <div class="col-sm-9">
                          <input type="text" id="address" placeholder="Address" class="form-control" autofocus required>
                      </div>
                  </div>

                  <!-- /.form-group -->
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <span class="help-block">*Required fields</span>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-info btn-block">Register Student</button>
              </form> <!-- /form -->
  </div> <!-- ./container -->
</div>
