
{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<div class="card card-body">
   <h2>Add Pupil</h2>
      <div class="container">
        <form action="/student" method="POST" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="row">
              <label for="firstName" class="col-sm-3 control-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" name="firstName" placeholder="First Name" class="form-control" autofocus required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="lastName" class="col-sm-3 control-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" name="lastName" placeholder="Last Name" class="form-control" autofocus required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="admno" class="col-sm-3 control-label">Admn Number</label>
              <div class="col-sm-9">
                <input type="text"  placeholder="Admission Number" class="form-control" name="admno" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="class" class="col-sm-3 control-label">Class</label>
              <div class="col-sm-9">
                <input type="text" name="class" placeholder="Enter class & stream number" class="form-control" autofocus required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
              <div class="col-sm-9">
                <input type="date" name="birthDate" class="form-control" required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="admnDate" class="col-sm-3 control-label" >Date Of Admission</label>
              <div class="col-sm-9">
                <input type="date" name="admnDate" class="form-control" required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3">Gender</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-6">
                    <label class="radio-inline">
                      <input type="radio" name="gender" value="Female" required="required" /> Female
                    </label>
                  </div>
                  <div class="col-6">
                    <label class="radio-inline">
                      <input type="radio" name="gender" value="Male" /> Male
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <h2>Parent/Guardian Details</h2>
          <div class="form-group">
            <div class="row">
              <label for="parentName" class="col-sm-3 control-label" >Full Name</label>
              <div class="col-sm-9">
                <input type="text" name="parentName" placeholder="Full Name" class="form-control" autofocus required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="phoneNumber" class="col-sm-3 control-label" >Cell </label>
              <div class="col-sm-9">
                <input type="number" name="phoneNumber" placeholder="Phone number" class="form-control" required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="AltphoneNumber" class="col-sm-3 control-label" >Alt Cell</label>
              <div class="col-sm-9">
                <input type="number" name="altphoneNumber" placeholder=" Alternative Phone number" class="form-control" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="email" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" name="email" placeholder="Email" class="form-control" name="email" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="address" class="col-sm-3 control-label">Physical Address</label>
              <div class="col-sm-9">
                <input type="text" name="address" placeholder="Address" class="form-control" autofocus required/>
              </div>
            </div>
          </div>
          <!-- /.form-group -->
          <button type="submit" class="btn btn-info btn-block">
            Register student
          </button>
        </form>
        <!-- /form -->
      </div>
      <!-- ./container -->
    </div>
